<!DOCTYPE html>
<html>
    <head>
        <title>Контакты</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Контакты</h1>
        <p>Электронный адрес: admin@mycorp.com</p>
    </body>
    <html></html>
</html>
